@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&family=Shrikhand&display=swap");
*,
::before ::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", "Sans-serif";
}

h1, h2 h3,
h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

.text {
  padding: 0;
  margin: 0;
}

main {
  padding: 0 3rem;
  background-color: #f6f6f6;
}
@media (max-width: 1000px) {
  main {
    padding: 0 1rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: white;
  font-family: "Shrikhand", "cursive";
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  margin: 0px;
  position: relative;
}

/* MAIN */
.ville {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #ddd;
  text-align: center;
}
.ville i {
  font-size: 1.5rem;
}

.laoder {
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 1;
  opacity: 0.6;
  transition: transform 1s;
  -webkit-animation: checkup 100ms 5s forwards;
          animation: checkup 100ms 5s forwards;
  transform-origin: top;
}
.laoder i {
  -webkit-animation: spin 5s;
          animation: spin 5s;
  border-top: 1px solid #ff79da;
  color: #ff79da;
  font-size: 5rem;
}

@-webkit-keyframes checkup {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes checkup {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
}
/* EXPLORATION DES RESTAURANTS */
.city {
  background-color: #f6f6f6;
  min-height: 21rem;
}

.explore {
  text-align: center;
}
.explore h2 {
  margin-top: 1rem;
  font-size: 2rem;
}
.explore h2 p {
  font-size: 1rem;
}

/* BUTTON GRADIENT */
.explore button {
  margin: 2rem;
  font-weight: 300;
  font-size: 1rem;
  padding: 1rem 1rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 2px 1px 3px -2px #000000;
  background-image: linear-gradient(#ff79da, #9356dc);
  color: white;
  transition: all 100ms;
  margin-top: 1rem;
  cursor: pointer;
}

.explore button:hover {
  transform: scale(1.02);
  opacity: 0.7;
}

.indication {
  padding: 0 3rem;
  background-color: white;
  margin-bottom: 2rem;
}
@media (max-width: 1000px) {
  .indication {
    padding: 0 1rem;
  }
}

.wrap {
  counter-reset: steps;
}
.wrap ol {
  display: flex;
  gap: 2rem;
}
@media (max-width: 1000px) {
  .wrap ol {
    flex-direction: column;
  }
}
.wrap li {
  position: relative;
  padding: 1rem 2rem;
  list-style-type: none;
  background-color: #f6f6f6;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 2px 1px 5px -3px #000000;
  cursor: pointer;
}
.wrap li::before {
  content: counter(steps);
  counter-increment: steps;
  background-color: rgb(194, 38, 194);
  color: white;
  display: grid;
  place-items: center;
  position: absolute;
  left: -0.5rem;
  top: 50%;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.wrap li:hover {
  transform: translateY(0);
  background-color: rgba(236, 223, 230, 0.897);
}
.wrap li:hover i {
  color: purple;
}
.wrap li .fas {
  color: rgb(150, 147, 147);
  margin-right: 1rem;
}

.menus {
  margin-bottom: 2rem;
  background-color: #f6f6f6;
}
.menus h2 {
  padding: 0.5rem 0;
}
.menus .menus_card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 1000px) {
  .menus .menus_card {
    grid-template-columns: repeat(1, 1fr);
  }
}
.menus .new {
  position: relative;
}
.menus .new::before {
  content: "Nouveau";
  position: absolute;
  right: 2rem;
  top: 2rem;
  height: 2rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  width: 4.5rem;
  background-color: #99E2D0;
  color: darkgreen;
  display: grid;
  place-items: center;
}
.menus .card {
  flex-grow: 1;
}
.menus .card_image {
  height: 15rem;
  background-size: cover;
  border-radius: 12px 12px 0 0;
}
.menus .card_image-1 {
  background-image: url("./assets/plat_1.jpg");
}
.menus .card_image-2 {
  background-image: url("./assets/plat_2.jpg");
}
.menus .card_image-3 {
  background-image: url("./assets/plat_3.jpg");
}
.menus .card_image-4 {
  background-image: url("./assets/plat_4.jpg");
}
.menus .card_description {
  background-color: white;
  position: relative;
  padding: 0.5rem;
  box-shadow: 2px 1px 3px -2px #000000;
  border-radius: 0px 0px 12px 12px;
  /* @include mixins.coeur; */
}
.menus .card_description i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.menus .card_description .fas {
  color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  opacity: 0;
  transition: all 100ms;
}
.menus .card_description .fas:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.02);
}
.menus .card h3 {
  padding: 0.2rem;
  margin: 0;
}
.menus .card p {
  padding: 0.2rem;
  margin: 0;
}

footer {
  background-color: rgba(8, 0, 0, 0.829);
  color: white;
  min-height: 10rem;
}
@media (max-width: 1000px) {
  footer {
    padding: 0 1rem;
  }
}
footer .info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 1000px) {
  footer .info {
    flex-direction: column;
  }
}
footer h2 {
  font-family: "Shrikhand", "Cursif";
  font-weight: 400;
  margin-left: 1.8rem;
  padding: 1rem;
  margin-top: 3rem;
}
@media (max-width: 1000px) {
  footer h2 {
    margin-left: 0;
  }
}
footer p {
  padding: 0.5rem;
  margin-right: 9rem;
}
@media (max-width: 1000px) {
  footer p {
    margin-right: 7rem;
  }
}
footer i {
  margin-left: 0.2rem;
}

@-webkit-keyframes monAnimation {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes monAnimation {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes checks {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes checks {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.navbar {
  background-color: white;
  font-family: "Shrikhand", "cursive";
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.2rem;
  margin: 0px;
  position: relative;
}
.navbar .fa-arrow-left {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

#grey {
  background-color: #f6f6f6;
}

.palette img {
  width: 100%;
  height: 74vh;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.resto-title {
  border-radius: 2rem 2rem 0 0;
  font-family: "Shrikhand", "cursive";
  position: relative;
}

.resto-title {
  margin-top: -2rem;
  background-color: #f6f6f6;
  margin-bottom: -2rem;
}
.resto-title h2 {
  font-family: "Shrikhand", "cursive";
  padding: 2rem;
  border-radius: 2rem 2rem 0 0;
}
.resto-title .fa-heart {
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.resto-title .fas {
  color: transparent;
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  opacity: 0;
  transition: all 100ms;
}
.resto-title .fas:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.02);
}

.resto-main {
  padding: 0 2rem;
}

.menu-grid {
  overflow: hidden;
  background-color: #f6f6f6;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}
@media (max-width: 1000px) {
  .menu-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.menu-grid h3 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}
.menu-grid h3::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0;
  height: 0.2rem;
  width: 3rem;
  background-color: #99e2d0;
}
.menu-grid .class-menu {
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(73, 73, 73, 0.25);
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: white;
  border-radius: 1rem;
  -webkit-animation: checks 1s;
          animation: checks 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.menu-grid .class-menu:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.menu-grid .class-menu:nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.menu-grid .class-menu:nth-child(3) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.menu-grid .class-menu:nth-child(4) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.menu-grid .class-menu:nth-child(5) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.menu-grid .class-menu:nth-child(6) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.menu-grid .class-menu:nth-child(7) {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}
.menu-grid .class-menu:nth-child(8) {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
.menu-grid .class-menu:nth-child(9) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}
.menu-grid .class-menu:nth-child(10) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.menu-grid .class-menu:nth-child(11) {
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;
}
.menu-grid .class-menu:nth-child(12) {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}
.menu-grid .class-menu .menu-item {
  display: flex;
  overflow: hidden;
}
.menu-grid .class-menu .menu-item .prix {
  padding: 1rem;
  margin-left: auto;
  font-weight: 900;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.menu-grid .class-menu .menu-item .descrpt {
  padding: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-grid .class-menu .menu-item .descrpt h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-grid .class-menu .menu-item .descrpt h4 P {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-grid .class-menu .menu-item .check {
  display: grid;
  flex-shrink: 0;
  place-items: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #99e2d0;
  color: #99e2d0;
  margin-right: -4rem;
  width: 4rem;
  border-radius: 0 1rem 1rem 0;
  transition: margin-right 0.5s;
}
.menu-grid .class-menu .menu-item .check i {
  background-color: white;
  color: #99e2d0;
  display: grid;
  place-items: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
}
.menu-grid .class-menu .menu-item:hover {
  cursor: pointer;
}
.menu-grid .class-menu .menu-item:hover .check {
  margin-right: 0;
}
.menu-grid .class-menu .menu-item:hover i {
  animation: monAnimation 1s ease-in-out;
  -webkit-animation: monAnimation 1s ease-in-out;
  -moz-animation: monAnimation 1s ease-in-out;
  -o-animation: monAnimation 1s ease-in-out;
}

/*BUTTON */
button {
  font-weight: 300;
  font-size: 1rem;
  padding: 1rem 1rem;
  border: none;
  margin: 2rem;
  border-radius: 2rem;
  box-shadow: 2px 1px 3px -2px #000000;
  background-image: linear-gradient(#ff79da, #9356dc);
  color: white;
  transition: all 100ms;
  cursor: pointer;
}

button:hover {
  transform: scale(1.02);
  opacity: 0.7;
}

.commande {
  height: 5rem;
  display: grid;
  place-items: center;
}/*# sourceMappingURL=style.css.map */