@use "../utils/mixins.scss";
@use "../utils/animations.scss";
@mixin monAnimation {
    @keyframes monAnimation{
        0%{
            transform: rotate(-270deg);
        }
        100%{
            transform: rotate(0);
        }
    }
    }
    
    @keyframes checks {
        0% {
            transform: translateY(50%);
            opacity: 0;
            
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        
        }
    }
    
    .navbar{
        background-color: white;
        font-family: "Shrikhand", "cursive";
        text-align: center;
        box-shadow: 0 0 0.5rem rgb(0 0 0 /25%);
        padding: 0.2rem;
        margin: 0px;
        position: relative;
       .fa-arrow-left{
            position: absolute;
            left: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }

#grey{
    background-color: #f6f6f6;
}
    .palette img{
        width: 100%;
        height: 74vh;
        display: block;
        object-fit: cover;
        object-position: center;
}
.resto-title{
    border-radius: 2rem 2rem 0 0;
    font-family:"Shrikhand", "cursive";
     position: relative;   
}
.resto-title{
    margin-top: -2rem;
    background-color: #f6f6f6;

& h2{
 font-family:"Shrikhand", "cursive";
padding: 1rem;
 border-radius: 2rem 2rem 0 0;
}

 .fa-heart{
    font-size: 2rem;
position: absolute;
right: 1rem;
top: 50%;
transform: translateY(-50%);

}
.fas{
    color: transparent;
    @include mixins.gradient;
     background-clip: text;
    -webkit-background-clip: text;
     -moz-background-clip: text;
    opacity: 0;
    transition: all 100ms;
 }
 .fas:hover{
    opacity: 1;
    transform:translateY(-50%) scale(1.02);
}
}

.resto-main{
    padding: 0 1rem;
    margin-top: 2rem;
    overflow: hidden;
}
 .menu-grid{
    padding: 0.1rem;
    background-color: #f6f6f6;
    overflow: hidden;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
    @media (max-width:1000px) {
        grid-template-columns: repeat(1, 1fr);
    }
 h3{
    margin-top: -0.1rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 1.5rem;
        left: 0;
        height: 0.2rem;
        width: 3rem;
        @include mixins.tertiary-corlor;
    }
 }
 .class-menu{
   overflow: hidden;
   box-shadow:  1px 2px 5px -3px rgb(136, 136, 135);
    background-color: white;
    border-radius: 1.2rem;
   animation: checks 1s;
   animation-fill-mode: both;
   @for $i from 1  through 4 {
       &:nth-child(#{$i}){
           animation-delay: 100ms * $i;
       }
   }
 .menu-item{
    display: flex;
    overflow: hidden;
    .prix{
        padding: 1rem;
        margin-left: auto;
        font-weight: 900;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    
    .descrpt{
        padding: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    h4{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    P{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;  
    }
}
    }
        .check{
            display: grid;
            flex-shrink: 0;
            place-items: center;
            align-items: center;
        border-radius: 0 1rem 1rem 0;
            $button-width:4rem;
           @include mixins.tertiary-corlor;
            @include mixins.couleur;
            margin-right: -1 * $button-width;
            width: $button-width;
            transition: margin-right 0.5s;
            i{
                background-color: white;
                @include mixins.couleur;
                display: grid;
                place-items: center;
                align-items: center;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 1rem;
            }
        }
        &:hover {
        cursor: pointer;
         .check{
            margin-right: 0;
        } 
        i {
            animation: monAnimation 1s ease-in-out;
            -webkit-animation: monAnimation 1s ease-in-out;
            -moz-animation: monAnimation 1s ease-in-out;
            -o-animation: monAnimation 1s ease-in-out;
        }
    }
 }
 }
 }
     /*BUTTON */
     button{
   font-weight: 300;
   font-size: 1rem;
   padding: 1rem 1rem;
   border: none;
   margin: 2rem;
   border-radius: 2rem;
   @include mixins.base-shadow;
   @include mixins.gradient;
   color: white;
   transition: all 100ms;
   cursor: pointer;
           }
   button:hover{
     @include mixins.zoom;
     opacity: 0.7;
  }
  .commande{
    padding: 0.1rem;
    margin: 0;
    display: grid;
    place-items: center;
  }
